input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}
    /* 입력창 활성화는 focus */
    input[type="text"]:focus,          
    input[type="password"]:focus,
    input[type="number"]:focus,
    textarea:focus  {
        outline: none;
        border: 1px solid #6455af;
    }

    /* 입력창 활성화는 focus */
    input[type="text"]:disabled,          
    input[type="password"]:disabled,
    input[type="number"]:disabled,
    textarea:focus  {
        outline: none;
        color: #888888;
        background-color: #ececec;
    }
    

.input-wf {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.form-group {
    margin-top: 20px;
}

.button-area {
    margin-top: 30px;
}

/* 전체 설정(아웃라인, border)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf,
.puple-button-m,
.gray-button-m,
.white-button-m,
.puple-button-s,
.white-button-s, 
.gray-button-s  {	
 	border:none;
    outline: none;    
}

/* width full 사이즈 버튼(크기, 폰트 등)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

/* m사이즈 버튼(크기, 폰트 등)*/
.puple-button-m,
.gray-button-m,
.white-button-m {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

/* s사이즈 버튼(크기, 폰트 등)*/
.puple-button-s,
.gray-button-s,
.white-button-s {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
}


/* 버튼 컬러별 설정(배경 컬러, 폰트 컬러, hover 시 컬러) */
.puple-button-wf,
.puple-button-m,
.puple-button-s {
    background: #6455af;
    color:white;
}
    .puple-button-wf:hover,
    .puple-button-m:hover,
    .puple-button-m:hover{
        background:#5a4ba3;
    }

    .puple-button-wf:active,
    .puple-button-m:active,
    .puple-button-m:active{
        background:#524696;
    }

.gray-button-wf,
.gray-button-m,
.gray-button-s {
    background: #5c5c5c;
    color:white;
}
    .gray-button-wf:hover,
    .gray-button-m:hover,
    .gray-button-s:hover {
        background:#4e4e4e;
    }
    .gray-button-wf:active,
    .gray-button-m:active,
    .gray-button-s:active{
        background:#3f3b41;
    }

.white-button-wf,
.white-button-m,
.white-button-s {
    background: white;
    color: #574b97;
}
    .white-button-wf:hover,
    .white-button-m:hover,
    .white-button-s:hover{
        background:#f1f1f1;
    }
    .white-button-wf:active,
    .white-button-m:active,
    .white-button-s:active{
        background:#e7e2eb;
    }


/*-----------------------------*/
 
a{
    text-decoration: none !important;
}



.filter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.category>span{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
    margin-right: 10px;
}

.content-box ul{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.content-box ul li{
    width: 180px;
    height: 194px;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
}

.content-box li:hover{
    margin: -1px;
    margin-top: -2px;
    border: 2px solid #6455af;
}
    .content-box li>img{
        width: 180px;
        height: 150px;
        border-radius: 5px;
    }
    

    .content-box li>div:nth-child(2){
        height: 40px;
        margin-top: 0px;
        line-height: 40px;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-around;
    }

    
.recommend-test{
    width: 760px;
    height: 300px;
    border: 1px solid #b4b4b4;
    background: rgb(228, 227, 227);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
    .recommend-test>li{
        background-color: white;
        
    }


    .recommend-test>h3{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
    }

    .recommend-test>ul{
        position: relative;
        right: -700px;
        width: 3182px;
        display: flex;
        justify-content: space-between;
             
    }
    



/*------------------페이지 번호-------------*/
.page {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

    .page>.link{
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    .page>.link>a{
        font-weight: bolder;
    }

    .page>.link>.prev,
    .page>.link>.next,
    .page>.link>.page-num:hover{
        color: #6455af;
    }
/*-----------------------------------------*/