@font-face{
	src: url("../../font/IBMPlexSansKR-Regular.ttf");
	font-family: "IBM Plex Sans KR";
}

* {
  font-family: "IBM Plex Sans KR";
}

html,
body {
	width: 100%;
	height: 100%;
}

.hidden {
  display: none;
}

body {
	background: url("../../images/common/bg.svg") no-repeat;
	background-size: cover;
}

.container {
  flex: 0 1 auto;
  width: 1180px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.button {
  
  width: 65px;
  height: 35px;
  background-color: #6455af;
  color: white;
  border-radius: 5px;
  margin-bottom: 3%;
  margin-top: 1%;
  border: none;
}

.a-input{
  display:inline-block;
  width: 60px;
  height: 25px;
  background-color: #6455af;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 15px 3px 8px 0;
  padding-top: 5px;
}

.a-input-black{
  display:inline-block;
  width: 60px;
  height: 25px;
  background-color: #504f5e;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 15px 3px 8px 0;
  padding-top: 5px;
}

input:focus {
  outline: none;
}

.input-text {
  border: 1px solid #b3b3b3;
  border-top: #c5bcf0 solid 3px;
}





.d-none {
  display: none;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}

/* --------------------------------------------------------- */
#header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.top_header {
  flex: 0 1 auto;
  background: #fafafa;
  height: 45px;
}

.top-header-container {
	width: 1180px;
	height: 100%;
	margin: 0px auto;
  	background: #fafafa;
  	display: flex;
  	justify-content: flex-end; /*    */
  	align-items: center; /*媛  대       */
}

.top-header-container>span {
  padding-right: 2%;
  font-size: 11px;
}

.top-header-container>span:hover {
  color: #6455af;
  font-weight: bold;
}
	.top-header-container .profile-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;    /* 동그랗게 효과 주기 */
	}       
		.top-header-container .loginName-box {
        	font-size: 11px;
        	margin-right: 10px;
        }
        	.top-header-container .loginName-box .loginName {
	        	font-weight: bold;
	        }
	        




/* ---------------------------------------------------- */
.main_header {
  flex: 0 1 auto;
  background: #ffffff;
  height: 75px;
  box-shadow: 0px 5px 10px 0px rgba(200, 200, 200, 0.75);
}

.main_nav>a>img {
  padding-left: 10%;
}

.main_header>ul {
  width:1180px;
  margin: 0px auto;
  display: flex;
  flex: 0 1 auto;
  align-items: center; /*媛  대       */
  justify-content: space-between; /*    */
  /* pointer-events: none; */
}

.main_header>ul>li {
  width: 150px;
  font-size: 18px;
  text-align: center;
  padding: 23px 0% 23px 0%;
}

.main_header>ul>li:hover {
  width: 150px;
  font-size: 18px;
  text-align: center;
  border-bottom: #6455af solid 3px;
  margin-bottom: -3px;
}

.main_header>ul>li:last-child {
  margin-right: 15%;
}

.main_header>ul>li>a:hover {
  color: #6455af;
  text-decoration: none;
}

/* --------------------------------------------------------- */
.body {
  margin: auto;
  --background: url("../../images/common/bg.svg") no-repeat;
  --background-size:cover;
  min-height: 900px;
}

.main {
  display: flex;
  margin: auto;
  min-height: 412px;
}

.body-nav {
  height: 100%;
  width: 220px;
  padding-top: 10%;
}

.body-nav .my-info{
  border:2px solid #6455af;
  border-radius:10px;
  --width: 200px;
  height: 250px;
  background-color: #f2f1fa; 
  padding-top: 10%;
  padding-left: 2%; 
  
}

.body-nav .my-info .my-info-link{
  padding: 15px;
  clear: both;
}
.body-nav .my-info .my-info-link a{
  font-size:13px;
  padding: 15px;
  color: gray;
}

.body-nav .my-info h3{
  font-size: 19px;
  color: #4c4c4c;
  padding: 1px 0 8px 0;
  font-weight: 600;
}
  
.body-nav .my-info h5{
  font-size: 13px;
  color: gray;
  
}
  

.body-nav .my-info .my-info-container{
  margin: 10px;
}
.body-nav .my-info .write-button{
display:inline-block;
  width: 180px;
  height: 30px;
  color: white;
  background-color: #6455af;
  text-align: center;
  border-radius: 5px;
  padding-top: 8px;
  font-size: 15px;
  
}

.body-nav .my-info .info-profile{
	position: relative;
	display: flex;
	--justify-content: space-around;
}
	.body-nav .my-info .info-profile .profile-img {
		display:inline-block;
	  	--float: left;
	    width: 70px;
	    height: 70px;
	    border-radius: 50%;    /* 동그랗게 효과 주기 */
	    margin-right: 10px;
	}
	.body-nav .my-info .info-profile .my-info-texts {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

.body-nav .body-menu>li {
  width: 200px;
  height: 30px;
  text-decoration: none;
  font-size: 20px;
  padding-top: 17%;
  padding-bottom: 5%;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.body-nav .body-menu>li:hover ul {
  display: block;
}

.body-nav .body-menu>li>a {
  text-decoration: none;
}

.body-nav .my-info-nick span {
	--margin:10px;
	font-size: 17px;
}

.body-nav .my-info-part span{
	--margin:10px;
	font-size: 13px;
	color: gray;
}

.body-nav .body-menu>li>a:hover {
  font-weight: 600;
  color: #6455af;
}

.body-detail-menu {
  display:none;
  background-color: rgba(65, 65, 65, 0.733);
  text-align: center;
}

.body-detail-menu>li {
  color: #fafafa;
  width: 200px;
  height: 33px;
  font-size: 14px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.body-detail-menu>li:hover {
  background-color: #6455af;
}

.body-detail-menu>li a {
  text-decoration: none; 
}


.content {
  flex: 0 1 auto;
  padding-top: 10%;
  padding-left: 50px;
  width: 850px;
  background: #ffffff60;
}


.content  .content-box {
  border: 1px solid #d5cee1; 
  padding: 0 5% 0 5%;
  min-height: 600px;
  
}



.pager {
	width: 200px;
	display: flex;
	flex-basis: 180px;
	justify-content: space-around;
	margin: 10px auto auto auto;
}
	.pager .pageList {
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		margin: 0px 10px 0px 10px;
	}
	
	.pager > input[type="button"] {
		background: none;
		outline: none;
		border: none;
	}
		.pager > input[type="button"]:hover {
			color: #6455af;
			font-weight: bold;
		}


/* ------------------------------------------- */
.footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #6455af;
  height: 120px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.footer address {
  padding-top: 15px;
  color: #fff;
  font-size: 13px;
}
.footer address {
	padding-top: 15px;
	color: #fff;
	font-size: 13px;
}