* {
	font-family: "IBM Plex Sans KR";
}

.hidden {
	display: none;
}

.container {
	flex: 0 1 auto;
	width: 960px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.button {
	width: 60px;
	height: 30px;
	background-color: #6455af;
	color: white;
	border-radius: 5px;
	margin-bottom: 3%;
	margin-top: 1%;
	border: none;
}

input:focus {
	outline: none;
}

.input-text {
	border: 1px solid #b3b3b3;
	border-top: #c5bcf0 solid 3px;
}

.input-reply {
	border: 1px solid #b4b4b4;
	width: 600px;
	height: 50px;
}

.input-title {
	width: 600px;
	height: 25px;
	margin-bottom: 2%;
}

.input-content {
	width: 600px;
	height: 300px;
	margin-bottom: 5%;
}

.d-none {
	display: none;
}

/* --------------------------------------------------------- */
#header {
	position: sticky;
	top: 0;
}

.top_header {
	flex: 0 1 auto;
	background: #fafafa;
	height: 45px;
	display: flex;
	justify-content: flex-end; /*����*/
	align-items: center; /*媛��대�� ����*/
}

.top_header>div {
	padding-right: 2%;
	font-size: 11px;
}

/* ---------------------------------------------------- */
.main_header {
	flex: 0 1 auto;
	background: #ffffff;
	height: 75px;
	box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.75);
}

.main_nav>a>img {
	padding-left: 10%;
}

.main_header>ul {
	display: flex;
	flex: 0 1 auto;
	align-items: center; /*媛��대�� ����*/
	justify-content: space-between; /*����*/
	/* pointer-events: none; */
}

.main_header>ul>li {
	width: 150px;
	font-size: 18px;
	text-align: center;
	padding: 23px 0% 23px 0%;
}

.main_header>ul>li:hover {
	width: 150px;
	font-size: 18px;
	text-align: center;
	border-bottom: #6455af solid 3px;
	margin-bottom: -3px;
}

.main_header>ul>li:last-child {
	margin-right: 15%;
}

.main_header>ul>li>a:hover {
	color: #6455af;
	text-decoration: none;
}

/* --------------------------------------------------------- */
.body {
	margin: auto;
	--flex: 0 1 960px;
	background: url("../../images/common/background.png") no-repeat;
	background-size:cover;
	height:800px
}

.main {
	display: flex;
	--flex: 0 1 1180px;
	--width: 1180px;
	margin: auto;
	min-height: 412px;
}

.body_nav {
	height: 100%;
	width: 200px;
	padding-top: 15%;
	padding-left: 2%; 
}

.body_nav>ul>li {
	width: 200px;
	height: 35px;
	text-decoration: none;
	font-size: 20px;
	padding-top: 17%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgb(209, 209, 209);
}

.body_nav>ul>li:hover ul {
	display: block;
}

.body_nav>ul>li>a {
	text-decoration: none;
}

.body_nav>ul>li>a:hover {
	font-weight: 600;
	color: #6455af;
}

.body-detail-menu {
	display:none;
	background-color: rgba(65, 65, 65, 0.733);
	text-align: center;
}

.body-detail-menu>li {
	color: #fafafa;
	width: 200px;
	height: 35px;
	font-size: 15px;
	padding-top: 10px;
	border-bottom: 1px solid rgb(168, 168, 168);
}

.body-detail-menu>li:hover {
	background-color: #6455af;
}

.body-detail-menu>li a {
	text-decoration: none; 
}

.breadcrumbs {
	justify-content: space-between;
	display: flex;
	padding-bottom: 20px;
}

.breadcrumbs h4 {
	color: #6455af;
	font-family: bold;
	font-weight: 700;
	font-size: 20px;
}

.breadcrumbs ul {
	display: flex;
	font-size: 13px;
	color: gray;
	width: 80px;
}

.breadcrumbs ul li {
	padding-right: 2%;
}

.content {
	flex: 0 1 auto;
	padding-top: 10%;
	padding-left: 5%;
}

.content table {
	width: 650px;
}

.content table thead {
	background: #bbbbdd;
}

.content table thead th {
	font-size: 15px;
	text-align: center;
	height: 30px;
}

.content table tbody {
	font-size: 15px;
	width: 600px
}

.content table tbody tr {
	height: 35px;
}

.content table tbody tr td {
	border-bottom: dotted 2px #dfdcef;
}

.pager ul {
	display: flex;
}

/* ------------------------------------------- */
.footer {
	margin-top: 50px;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #6455af;
	height: 120px;
	color: #fff;
	font-size: 11px;
	text-align: center;
}

.footer address {
	padding-top: 15px;
	color: #fff;
	font-size: 13px;
}