* {
	box-sizing: border-box;
	font-family: "IBM Plex Sans KR";
}

.button {
	width: 80px;
	height: 42px;
	background-color: #6455af;
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 15px;
}

.button-black {
	width: 80px;
	height: 42px;
	background-color: #504f5e;
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 15px;
}

.a-input {
	display: inline-block;
	width: 60px;
	height: 25px;
	background-color: #6455af;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	margin: 15px 3px 8px 0;
	padding-top: 5px;
}

.a-input-black {
	display: inline-block;
	width: 60px;
	height: 25px;
	background-color: #504f5e;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	margin: 15px 3px 8px 0;
	padding-top: 5px;
}

.a-input-black-big {
	display: inline-block;
	width: 80px;
	height: 42px;
	background-color: #504f5e;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	margin: 14px 3px 7px 0;
	padding-top: 9px;
}

.a-puple-button-m {
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	font-size: 14px;
	width: 100px;
	background-color: #6455af;
	color: white;
	text-align: center;
	padding-top: 9px;
}

.input-text {
	border: 1px solid #b3b3b3;
	border-top: #c5bcf0 solid 3px;
}

.input-title {
	width: 970px;
	min-height: 30px;
	margin: 10px 10px 10px 90px;
}

.input-content {
	width: 970px;
	min-height: 400px;
	margin: 10px 10px 10px 90px;
}

.center {
	text-align: center;
}

.pager {
	margin-top: 20px; -
	-text-align: center;
	display: flex;
	font-size: 14px;
	justify-content: center; -
	-padding: 10px;
	color: gray;
}

.pager .ul-pager {
	display: flex;
}

.pager .li-pager {
	padding: 0 5px 0 5px;
}

.pager span {
	padding: 0 10px 0 10px;
}
/* =================================== list =================================== */
table {
	width: 100%;
}

.member-container {
	min-width: 700px;
}

.tools {
	display: flex;
}

.tools .filter {
	flex: 1 0 300px;
}

.filter .category {
	width: 100px;
}

.filter .search-keyword {
	width: 200px;
}

.tools .delete-box {
	margin-right: 10px;
}

/*-----------------community_add-------------------- */
.community-add {
	padding: 15px;
}

.community-add .title-name {
	font-size: 22px;
	color: #6455af;
	font-weight: 700;
}

.community-add .content {
	height: 190px;
	border-radius: 20px;
	border: 1px solid #f2e8f4;
}

.community-add .community-add-row {
	margin: 22px;
}

.community-add .title {
	display: inline-block;
	width: 100px;
	font-size: 14px;
}

.community-add .add-input {
	border: 1px #c0c0c0 solid;
	height: 30px;
	width: 165px;
}

.community-add-button {
	margin-left: 25px;
	display: inline-block;
	height: 35px;
	background-color: #6455af;
	color: white;
	border-radius: 5px;
	border: none;
	width: 270px;
}

/*-----------------//community_add-------------------- */
/*-----------------notice, notice_reg-------------------- */
.notice-select {
	border: 1px solid #c0c0c0;
	padding: 10px 10px 10px 10px;
	margin: 5px;
	border-radius: 10px;
	font-size: 12px;
}

.noticereg-select { -
	-border: 1px solid #c0c0c0;
	padding: 20px 10px 0px 70px;
	margin: 5px;
	border-radius: 10px;
	font-size: 12px;
}

.select-checkbox {
	margin-left: 10px;
	margin-right: 3px; -
	-font-size: 10px;
	align-self: center;
}

/* .tools{
	display: flex;
}
*/
.tools .filter {
	flex: 1 0 300px;
	display: flex;
}

.tools .delete-box {
	margin-top: 10px;
}

.notice-reg-box {
	padding: 10px;
	margin-left: 500px;
}

.category-search {
	display: inline-block;
	margin-left: 20px;
}

/*-----------------//notice, notice_reg-------------------- */
/*-----------------report-------------------- */
.report-section {
	margin: 20px;
}

.title-name {
	font-size: 22px;
	font-weight: 600;
	color: #6455af;
}

.title2-name {
	font-size: 15px;
	margin: 15px 10px 5px 10px;
	color: #9a9a9a;
}

.report-form {
	margin: 12px;
	height: 300px;
}

.report-form .report-list {
	margin: 15px 10px 10px 10px;
}

.report-cancle-button {
	width: 140px;
	height: 42px;
	background-color: #504f5e;
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 15px;
	margin: 40px 10px 10px 10px;
}

.report-reg-button {
	width: 140px;
	height: 42px;
	background-color: #6455af;
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 15px;
}

/*-----------------//report-------------------- */