
* {
    box-sizing: border-box;  
    font-family: "IBM Plex Sans KR";
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

.full-button {
    width : 100%;
}

.d-none {
    display: none;
}

.input-wf {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}
    /* 입력창 활성화는 focus */
    input[type="text"]:focus,          
    input[type="password"]:focus,
    input[type="number"]:focus,
    textarea:focus  {
        outline: none;
        border: 1px solid #6455af;
    }

    /* 입력창 활성화는 focus */
    input[type="text"]:disabled,          
    input[type="password"]:disabled,
    input[type="number"]:disabled,
    textarea:focus  {
        outline: none;
        color: #888888;
        background-color: #ececec;
    }
    

.input-wf {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.form-group {
    margin-top: 20px;
}

.button-area {
    margin-top: 30px;
}

/* 전체 설정(아웃라인, border)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf,
.puple-button-m,
.gray-button-m,
.white-button-m,
.puple-button-s,
.white-button-s, 
.gray-button-s  {	
 	border:none;
    outline: none;    
}

/* width full 사이즈 버튼(크기, 폰트 등)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

/* m사이즈 버튼(크기, 폰트 등)*/
.puple-button-m,
.gray-button-m,
.white-button-m {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

/* s사이즈 버튼(크기, 폰트 등)*/
.puple-button-s,
.gray-button-s,
.white-button-s {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
}


/* 버튼 컬러별 설정(배경 컬러, 폰트 컬러, hover 시 컬러) */
.puple-button-wf,
.puple-button-m,
.puple-button-s {
    background: #6455af;
    color:white;
}
    .puple-button-wf:hover,
    .puple-button-m:hover,
    .puple-button-m:hover{
        background:#5a4ba3;
    }

    .puple-button-wf:active,
    .puple-button-m:active,
    .puple-button-m:active{
        background:#524696;
    }

.gray-button-wf,
.gray-button-m,
.gray-button-s {
    background: #5c5c5c;
    color:white;
}
    .gray-button-wf:hover,
    .gray-button-m:hover,
    .gray-button-s:hover {
        background:#4e4e4e;
    }
    .gray-button-wf:active,
    .gray-button-m:active,
    .gray-button-s:active{
        background:#3f3b41;
    }

.white-button-wf,
.white-button-m,
.white-button-s {
    background: white;
    color: #574b97;
}
    .white-button-wf:hover,
    .white-button-m:hover,
    .white-button-s:hover{
        background:#f1f1f1;
    }
    .white-button-wf:active,
    .white-button-m:active,
    .white-button-s:active{
        background:#e7e2eb;
    }

/* ==================================================================================*/

body {
    background: #f6f6f6;
    background-size: cover;

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

/* ==================================================================================*/

.header {
    background: #6455af;;
    box-shadow: 0px 3px 5px rgb(214, 214, 214);
    align-items: center;
    display: flex;
    flex-shrink: 0;          /* shrink가 1로 지정되지 않은 녀석들은 기본적으로 크기 안줄어들것*/
    height: 70px; 

    text-align : center;         /* 인라인 태그의 경우 부모 영역에서 text-align 속성을 줘야 자식이 먹음*/
}
    .header > .logo {        /* logo 영역은 body의 nav와 width를 동일하게 감*/
        flex-basis: 250px;
        min-width: 200px;
    }

    .header > .login-menu {        /* login 영역도 body의 nav와 width를 동일하게 감*/
        flex-basis: 250px;
        min-width: 200px;
    }
        .header > .login-menu > input {     
            float: right;
            margin-right: 10px;
        }
    
    .header > .title{         
        flex-shrink: 1;      /* 나머지 공백 영역에 따라 크기가 결정 되지만 */      
        min-width: 200px;    /* 최소 200px 미만으로는 안줄어들음 */
        flex-grow: 1;       /* 제목만 공백 영역 차지할 것*/
        color: white;
        font-weight: bold;
    }

    .header > nav { 
        flex-basis: 250px;
        min-width: 200px;   
        text-align: right;   
        box-sizing: border-box;
        --padding-right: 20px;
    }



/* ==================================================================================*/

.body {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;    /* flex-flow 디렉션, 랩? row가 기본 값임. row-reverse 좌우반전이 됨(개오지군) / column->이건 수평이 되는 기능*/
    align-items: flex-start;
}
    .body > nav {
        height: inherit;
        flex : 0 0 250px;       /* grow, shrink basis 순*//* 메뉴 부분은 평상시에는 이 크기(width, max-width 같은거)*/
        min-width: 200px;       /* 메뉴 영역은 최소 200px를 가지며, 200px 미만으로는 안줄어듬*/
        background: white;          
        box-shadow: 1px 1px 5px#a9a9a9;    
    }

        nav > .main-menu  {
            padding: 10px 20px;
        }
            
            nav > .main-menu img {
                width: 25px;
                height: 25px;
            }

            nav > .main-menu li {
                margin: 10px 0px;
            }
            nav > .main-menu li a.current, 
            nav > .main-menu li a:hover{
                color: #6455af;
                font-weight: bold;
                text-decoration: none;
            }

                nav > .main-menu li a:hover > img{      
                    /* 원하는 색으로 필터 만들어 주는 사이트 :  https://codepen.io/sosuke/pen/Pjoqqp */
                    filter: invert(34%) sepia(8%) saturate(4739%) hue-rotate(211deg) brightness(100%) contrast(83%);
                }

                
                nav > .main-menu li .first-menu-item {
                    display: flex;
                    align-items: center;
                }
                
                    nav > .main-menu li .first-menu-item:hover {
                        color: #6455af;
                        font-weight: bold;
                        text-decoration: none;
                    }
                        nav > .main-menu li .first-menu-item:hover > img{      
                            /* 원하는 색으로 필터 만들어 주는 사이트 :  https://codepen.io/sosuke/pen/Pjoqqp */
                            filter: invert(34%) sepia(8%) saturate(4739%) hue-rotate(211deg) brightness(100%) contrast(83%);
                        }


                nav > .main-menu li .first-menu-item img{
                    margin-right: 10px;
                }  

               



    .main {
        height: 100%;
        flex-shrink: 1;     /* 메인 영역만 줄어들게 할거임*/
        flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
        
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
        .main .container {
            flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
        }

            .main .container .container-item {
                flex-shrink: 1;     /* 메인 영역만 줄어들게 할거임*/
                flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
                margin : 30px 30px 50px 30px;
                box-sizing: border-box;     /* 메인은 기본적으로 10px inner로 적용됨 */
                border-radius: 5px;
                background: white;
                
                border-style: solid black;
                box-shadow: 3px 3px 5px#a9a9a9;

                padding: 30px;
            }

        .main .footer {
            width : 100%;
            flex : 0 0 120px;

            background: #191919;
            color: white;
            font-size: 12px;
            text-align: center;

            padding-top: 10px;
            margin-top: auto;       /* 밑에 고정 */
        }


    .body > .login {
        margin : 15px;
        padding: 15px;
        box-sizing: border-box;     /* 메인은 기본적으로 10px inner로 적용됨 */
        border-radius: 10px;
        background: white;
        box-shadow: 3px 3px 5px#a9a9a9;
    }

/* ==================================================================================*/

table {
    --border-top: 2px solid #353535;
    --border-bottom: 2px solid #353535;
    border-top: 2px solid #6455af;
    border-bottom: 2px solid #6455af;
    border-collapse: collapse;          /* 테두리 사이의 간격 없애기 */
    font-size: 15px;
    margin: 5px;
}

tr {
   border-bottom: 1px solid #b7ade7;
}

th {
    --background: #eae7f5;
    border-bottom: 2px;
    background: #efecfd;
    padding: 10px;
    font-weight: bold;
}

td {
    padding: 10px;
}
