
.full-button {
    width : 100%;
}

.d-none {
    display: none;
}

/* ==================================================================================*/

body {
    background: #f6f6f6;
    background-size: cover;

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

/* ==================================================================================*/

.header {
    background: #6455af;;
    box-shadow: 0px 3px 5px rgb(214, 214, 214);
    align-items: center;
    display: flex;
    flex-shrink: 0;          /* shrink가 1로 지정되지 않은 녀석들은 기본적으로 크기 안줄어들것*/
    height: 70px; 

    text-align : center;         /* 인라인 태그의 경우 부모 영역에서 text-align 속성을 줘야 자식이 먹음*/
}
    .header > .logo {        /* logo 영역은 body의 nav와 width를 동일하게 감*/
        flex-basis: 250px;
        min-width: 200px;
    }
    
    .header > .title{         
        flex-shrink: 1;      /* 나머지 공백 영역에 따라 크기가 결정 되지만 */      
        min-width: 200px;    /* 최소 200px 미만으로는 안줄어들음 */
        flex-grow: 1;       /* 제목만 공백 영역 차지할 것*/
        color: white;
        font-weight: bold;
    }

    .header > nav { 
        flex-basis: 250px;
        min-width: 200px;   
        text-align: right;   
        box-sizing: border-box;
        --padding-right: 20px;
    }



/* ==================================================================================*/

.body {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;    /* flex-flow 디렉션, 랩? row가 기본 값임. row-reverse 좌우반전이 됨(개오지군) / column->이건 수평이 되는 기능*/
    align-items: flex-start;
}
    .body > nav {
        height: inherit;
        flex : 0 0 250px;       /* grow, shrink basis 순*//* 메뉴 부분은 평상시에는 이 크기(width, max-width 같은거)*/
        min-width: 200px;       /* 메뉴 영역은 최소 200px를 가지며, 200px 미만으로는 안줄어듬*/
        background: white;          
        box-shadow: 1px 1px 5px#a9a9a9;    
    }
    
        .body > nav > ul > li :hover{
            background: #f6f6f6;
        }
        .body > nav > ul > li :after{
            color: #6455af;
        }
            .body > nav > ul > li > a > img :hover{       /* 클래스로 바꾸자*/
                -webkit-filter: opacity(.5) drop-shadow(0 0 0 #6455af);
                filter: opacity(.5) drop-shadow(0 0 0 #6455af);
            }


    .main {
        height: 100%;
        flex-shrink: 1;     /* 메인 영역만 줄어들게 할거임*/
        flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
        
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
        .main .container {
            flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
        }

            .main .container .container-item {
                flex-shrink: 1;     /* 메인 영역만 줄어들게 할거임*/
                flex-grow: 1;       /* 메인이 나머지 공백 다 차지할것*/
                margin : 15px;
                box-sizing: border-box;     /* 메인은 기본적으로 10px inner로 적용됨 */
                border-radius: 5px;
                background: white;
                
                border-style: solid black;
                box-shadow: 3px 3px 5px#a9a9a9;

                padding: 10px;
            }

        .main .footer {
            width : 100%;
            flex : 0 0 150px;

            background: #191919;
            color: white;
            font-size: 12px;

            margin-top: auto;       /* 밑에 고정 */
        }


    .body > .login {
        margin : 15px;
        padding: 15px;
        box-sizing: border-box;     /* 메인은 기본적으로 10px inner로 적용됨 */
        border-radius: 10px;
        background: white;
        box-shadow: 3px 3px 5px#a9a9a9;
    }

/* ==================================================================================*/

table {
    --border-top: 2px solid #353535;
    --border-bottom: 2px solid #353535;
    border-top: 2px solid #6455af;
    border-bottom: 2px solid #6455af;
    border-collapse: collapse;          /* 테두리 사이의 간격 없애기 */
    font-size: 15px;
    margin: 5px;
}

tr {
   border-bottom: 1px solid #b7ade7;
}

th {
    --background: #eae7f5;
    border-bottom: 2px;
    background: #efecfd;
    padding: 10px;
    font-weight: bold;
}

td {
    padding: 10px;
}

.puple-button-m {
    width: 100px;
    height: 38px;
    background: #6455af;
    box-sizing: border-box;  
    border-radius: 8px;
    border: none;

    font-size: 14px;
    color:white;
}
    .puple-button-m:hover{
        background:#574b97;
    }

.gray-button-m {
    width: 100px;
    height: 38px;
    background: #5c5c5c;
    box-sizing: border-box;  
    border-radius: 8px;
    border: none;

    font-size: 14px;
    color:white;
}
    .gray-button-m:hover{
        background:#4e4e4e;
    }

.white-button-m {
    width: 100px;
    height: 38px;
    background: white;
    box-sizing: border-box;  
    border-radius: 8px;
    border: none;

    font-size: 14px;
    color: #574b97;
}
    .white-button-m:hover{
        background:#eeeeee;
    }

.white-button-s {
    width: 60px;
    height: 25px;
    background: white;
    box-sizing: border-box;  
    border-radius: 5px;
    border: none;

    font-size: 10px;
    color: #574b97;
}
    .white-button-s:hover{
        background:#f1f1f1;
        border:none;

    }
    .white-button-s:active{
        background:red;
        border:none;
    }