

h4 {
   color: #6455af;
   font-family: bold;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 20px;
}

.full-button {
    width : 100%;
}

.d-none {
    display: none;
}

.input-wf {
    width: 100%;
}

.radio-group *{
    margin-left: 30px;
}

    .radio-group *:first-child {
        margin-left: 0px;
    }
    
    

.input-box {
    display: flex;    
    align-items: center;
}	
	.input-box > label {
        flex-grow: 0;
        flex-basis: 120px;
        margin-right: 5px;
    }
    .input-box *:nth-child(2) {
        flex-grow: 1;
    }
	    

.input-btn-box {
    display: flex;    
    align-items: center;
}
	.input-btn-box > label {
        flex-grow: 0;
        flex-basis: 120px;
        margin-right: 5px;
    }
    .input-btn-box > input[type="text"] {
        flex-grow: 1;
        margin-right: 5px;
    }
	    
	    

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}
	
	/* 입력창 활성화는 focus */
	input[type="text"]:read-only,
	input[type="password"]:read-only,
	input[type="number"]:read-only,
	input[type="email"]:read-only, 
	textarea:read-only {
        outline: none;
        color: #888888;
        background-color: #ecedf7;
    }

    /* 입력창 활성화는 focus */
    input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
    textarea:focus  {
        outline: none;
        border: 1px solid #6455af;
    }
    
    /* 입력창 활성화는 focus */
    input[type="text"]:disabled,
	input[type="password"]:disabled,
	input[type="number"]:disabled,
	input[type="email"]:disabled,
    textarea:disabled {
        outline: none;
        color: #888888;
        background-color: #ececec;
    }
    

.input-wf {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.form-group {
    margin-top: 20px;
}

.button-area {
    margin-top: 30px;
}

/* 전체 설정(아웃라인, border)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf,
.puple-button-l,
.gray-button-l,
.white-button-l,
.puple-button-m,
.gray-button-m,
.white-button-m,
.puple-border-button-m,
.puple-button-s,
.white-button-s, 
.gray-button-s {	
 	border:none;
    outline: none;    
}


/* width full 사이즈 버튼(크기, 폰트 등)*/
.puple-button-wf,
.gray-button-wf,
.white-button-wf,
.puple-border-button-wf {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
}

/* l사이즈 버튼(크기, 폰트 등)*/
.puple-button-l,
.gray-button-l,
.white-button-l,
.puple-border-button-l {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
}

/* m사이즈 버튼(크기, 폰트 등)*/
.puple-button-m,
.gray-button-m,
.white-button-m,
.puple-border-button-m {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
}

/* s사이즈 버튼(크기, 폰트 등)*/
.puple-button-s,
.gray-button-s,
.white-button-s,
.puple-border-button-s {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
}


/* 버튼 컬러별 설정(배경 컬러, 폰트 컬러, hover 시 컬러) */
.puple-button-wf,
.puple-button-l,
.puple-button-m,
.puple-button-s {
    background: #6455af;
    color:white;
}
    .puple-button-wf:hover,
    .puple-button-l:hover,
    .puple-button-m:hover,
    .puple-button-m:hover{
        background:#5a4ba3;
    }

    .puple-button-wf:active,
    .puple-button-l:active,
    .puple-button-m:active,
    .puple-button-m:active{
        background:#524696;
    }

.gray-button-wf,
.gray-button-l,
.gray-button-m,
.gray-button-s {
    background: #5c5c5c;
    color:white;
}
    .gray-button-wf:hover,
    .gray-button-l:hover,
    .gray-button-m:hover,
    .gray-button-s:hover {
        background:#4e4e4e;
    }
    .gray-button-wf:active,
    .gray-button-l:active,
    .gray-button-m:active,
    .gray-button-s:active{
        background:#3f3b41;
    }

.white-button-wf,
.white-button-l,
.white-button-m,
.white-button-s {
    background: white;
    color: #574b97;
}
    .white-button-wf:hover,
    .white-button-l:hover,
    .white-button-m:hover,
    .white-button-s:hover{
        background:#f1f1f1;
    }
    .white-button-wf:active,
    .white-button-l:active,
    .white-button-m:active,
    .white-button-s:active{
        background:#e7e2eb;
    }
    
    
.puple-border-button-wf,
.puple-border-button-l,
.puple-border-button-m,
.puple-border-button-s {
    background: #ffffff00;
    color: #6455af;
    border: 1px solid #6455af;
}
    .puple-border-button-wf:hover,
    .puple-border-button-l:hover,
    .puple-border-button-m:hover,
    .puple-border-button-s:hover{
        color: #5a4ba3;
    	border-color: #5a4ba3;
    }
    .puple-border-button-wf:active,
    .puple-border-button-l:active,
    .puple-border-button-m:active,
    .puple-border-button-s:active{
        color: #524696;
    	border-color: #524696;
    }
    
    
    
    
.table-width-xs {
	width: 2%;
}

.table-width-s {
	width: 5%;
}

.table-width-m {
	width: 10%;
}

.table-width-l {
	width: 15%;
}


.content table {
   width: 850px;
   --width: 100%;
}
	.content table * {
		text-align:center;
	}

	.content table thead {
	   background: #bbbbdd;
	}
	
		.content table thead th {
		   font-size: 15px;
		   text-align: center;
		   height: 40px;
		}
		
	.content table tbody {
	   font-size: 14px;
	   --width: 850px;
	   --width: 100%;
	}
	
		.content table tbody tr {
		   height: 40px;
		}
		
		.content table tbody tr td {
		   border-bottom: dotted 2px #dfdcef;
		}



  
/* ======================================== login ==========================================*/

/* .content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:none;
	padding 위 아래 0인 이유??
} */

.login-container {
	width: 500px;
	height: 700px;
	margin: auto;
	padding-top: 30px;
	align-self: center;
}
	.login-container *{
		margin-bottom: 10px;
	}
	
	.login-container input[type="text"],
	.login-container input[type="password"],
	.login-container input[type="button"],
	.login-container input[type="submit"]{
		height: 50px;
	}
	
	.login-container .login-img {
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}
	

	.login-container .button-box {
		height: 50px;
		flex-grow: 0;
		display:flex;
		height: auto;
	}
		.login-container .button-box .security-box {
			flex-grow: 1;
			flex-shrink: 1;
		}

    
/* ======================================== join ==========================================*/

.required-text {
	color: red;
}

.join-container {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;  
}
	.join-container *{
		margin-bottom: 5px;
	}


.email-box {
    display: flex;
    align-items: center;
    margin: 0px;
}
    .email-box * {
        flex-grow: 1;
    }
    .email-box *:nth-child(3){
        margin-left: 5px;
    }

.birth-box {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;   
}
	.birth-box *{
	    flex-grow: 1;
	    flex-shrink: 1;   
	}
    .birth-box input {
        margin-right: 5px;
    }

    .birth-box input:nth-child(5){
        margin-right: 0px;
    }

